@import './base.css';

html,
body {
  height: 100%;
  margin: 0;
  min-width: 500px;
}

#app {
  height: 100%;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}
